@page "/onscreenkeyboards"
@namespace BootstrapBlazor.Shared.Samples
@inject IStringLocalizer<OnScreenKeyboards> Localizer

<h3>@Localizer["Title"]</h3>

<p><b>@Localizer["P1"] ：</b></p>

<p>@((MarkupString)Localizer["P2"].Value)</p>

<p><b>@Localizer["P3"]</b></p>

<p>@((MarkupString)Localizer["P4"].Value)</p>

<div class="code-label">.NET CLI</div>
<Pre class="no-highlight">dotnet add package BootstrapBlazor.SignaturePad</Pre>

<div class="code-label">PackageReference</div>
<Pre class="no-highlight">&lt;PackageReference Include="BootstrapBlazor.SignaturePad" /&gt;</Pre>

<div class="code-label">Package Manager</div>
<Pre class="no-highlight">Install-Package BootstrapBlazor.SignaturePad</Pre>

<DemoBlock Title="@Localizer["BaseUsageText"]" Introduction="@Localizer["BaseUsageIntro"]" Name="Normal">

    @Localizer[""]
    <input class="@ClassName"
           data-kioskboard-type="@KeyboardType.all.ToString()"
           data-kioskboard-specialcharacters="true"
           placeholder='@Localizer["BlockKeyboardTypeAllTitle"]' />

    <input class="@ClassName"
           data-kioskboard-type="@KeyboardType.keyboard.ToString()"
           data-kioskboard-placement="@KeyboardPlacement.bottom.ToString()"
           placeholder='@Localizer["BlockKeyboardTypekeyboard"]' />

    <input class="@ClassName"
           data-kioskboard-type="@KeyboardType.numpad.ToString()"
           data-kioskboard-placement="@(KeyboardPlacement.bottom.ToString())"
           placeholder='@Localizer["BlockKeyboardTypeNumpadTitle"]' />

    @Localizer["BlockKeyboardTypeSpanishTitle"]
    <OnScreenKeyboard ClassName="@ClassName" KeyboardKeys="KeyboardKeysType.spanish" />


    <input class="@ClassName1"
           data-kioskboard-type="@KeyboardType.keyboard.ToString()"
           placeholder='@Localizer["BlockKeyboardThemeDarkTitle"]' />
    <OnScreenKeyboard ClassName="@ClassName1" Option="Option1" />


    <input class="@ClassName2"
           data-kioskboard-specialcharacters="true"
           placeholder='@Localizer["BlockSpecialcharactersTitle"]' />
    <OnScreenKeyboard ClassName="@ClassName2" Option="Option2" />


    <input class="@ClassName3" data-kioskboard-specialcharacters="true" placeholder='@Localizer["BlockSpecialcharactersCustomerTitle"]' />
    <OnScreenKeyboard ClassName="@ClassName3" Option="Option3" />
</DemoBlock>

<DemoBlock Title="@Localizer["BBUsageText"]" Introduction="" Name="Normal">
    <p>@Localizer["BBUsage2Text"]</p>
    <div class="form-control textarea-demo"> @BindValue</div>
    <BootstrapInput class="@ClassName" placeholder="BootstrapInput" @bind-Value="@BindValue" />
    <BootstrapPassword class="@ClassName" placeholder="BootstrapPassword" @bind-Value="@BindValue" />
<Textarea class="@ClassName" placeholder="Textarea" rows="4" @bind-Value="@BindValue" />
</DemoBlock>

<Tips>
    <p><b>@Localizer["Tips"] ：</b></p>
    <p>@((MarkupString)Localizer["P5"].Value)</p>
</Tips>

<style>
    .kioskboard-body-padding {
        padding-top: unset !important;
    }
</style>

<AttributeTable Items="@GetAttributes()" />
